/* ul li a{
	display: inline;
}
// 定义变量
$color:#ddd;
ul{
	li{
		a{  
		    color:$color;
			display:inline;
			&:hover{
				font-size:20px;
			}
		}
	}
}
 */
// 保存工具条的宽度

@import 'mixin';
// 定义函数
@import 'toolbar'; 